<!DOCTYPE html>
<html lang="ko" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Job Scraper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.lime.min.css"/>
</head>
<body>
<main class="container">
<nav>
    <ul>
        <li><strong>Acme Corp</strong></li>
    </ul>
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Products</a></li>
    </ul>
</nav>
<hr>
<h1>Job Scraper</h1>
<h4>What job do you want?</h4>
<form action="/search">
    <input type="text" name="keyword" placeholder="Write keyword please"/>
    <button>Search</button>
</form>
</main>
</body>
</html>