{% extends "layout.html" %}
{% block body %}
<h1>Search Results for "{{ keyword }}":</h1>
<div class="overflow-auto">
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td><small>{{ job.title }}</small></td>
            <td><small>{{ job.company }}</small></td>
            <td><small>{{ job.description }}</small></td>
            <td><small><a href="{{ job.link }}" target="_blank">Apply now &rarr;</a></small></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock body %}